.product {
    position: relative;
    overflow: hidden;
    background-color: white;
    
}

.product .img {
    position: relative;
    cursor: pointer;
}

.product .img img {
    width: 100%;
    display: block;
}

.product .img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); 
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product .img:hover::after {
    opacity: 1;
}